html{
    scroll-behavior: smooth;
}
/* //contact.html */
.main{
    height: 100%;
    width: 100%;
}
.container-3{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 padding: 10px 5px;
}
.container-3 .left{
    height: 560px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.left .image{
    height: 100%;
    width: 80%;
   display: flex;
   justify-content: center;

   align-items: center;
   
}
.image img{
    width: 70%;
    height: 80%;
}
.right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.right form{
    padding: 2vw 3vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
 
}
form input{
    background: transparent;
    border: 1px solid black;
    padding: 2px 5px;
}
form textarea{
    background: transparent;
}
form button{
    background: transparent;
    background-color: white;
    border: none;
    font-size: 2vw;
}

@media (max-width:600px){
  .container-3{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   padding: 20px;
   margin-bottom: 100px;
}
container-3 .left{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
 
    
}
.left .image{
    height: 100%;
    width: 100%;
   
   
}
.image img{
    width: 100%;
    height: 90%;
    margin-bottom: 60px;
}
.right{
    height: 50%;
    width: 100%;
   
}
form button{
    height: 50px;
    width: 100%;
    font-size: 3vh;
}
.right form{
    padding: 2vw 3vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
 background-image: url("images/girlnew.pnggg.jpg");
    background-size: cover;
}
form input{
    background: transparent;
    border: 1px solid black;
    padding: 6 px 5px;
}
form label{
    font-size: 2.5vh;
}
}


